body
{
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f5f5;
  color: #333;
}

header
{
  background: #222;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header h1
{
  margin: 0;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav a
{
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  display: inline-block;
  transition: transform 0.2s ease, color 0.2s ease;
}

nav a:hover
{
  color: #ffd700;          /* muda a cor ao passar o mouse */
  transform: scale(1.1);   /* zoom de 10% */
}

main
{
  padding: 2rem;
}

section
{
  margin-bottom: 2rem;
}

section h2
{
  text-align: left;
  padding-left: 0px;
  transition: transform 0.2s ease, color 0.2s ease;
  transform-origin: left center;
}
section h2:hover
{
  color: #000000;          /* mesma cor do menu */
  transform: scale(1.1);   /* zoom 10% */
}


table
{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td
{
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even)
{
  background-color: #f2f2f2; /* linhas pares destacadas */
}

th
{
  background-color: #333;
  color: white;
}

.btn-voltar
{
  display: inline-block;
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

  .btn-voltar:hover {
    background-color: #555;
    transform: scale(1.1); /* efeito de zoom */
  }

footer
{
  background: #222;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

footer a
{
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  display: inline-block;
  transition: transform 0.2s ease, color 0.2s ease;
}

footer a:hover
{
  color: #ffd700;          /* muda a cor ao passar o mouse */
  transform: scale(1.1);   /* zoom de 10% */
}